.app {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(197, 210, 214, 0.492);
  padding-top: 30px;
  height: 91vh;
  text-align: center;

  .link {
    text-decoration: none;
  }
}